.nav {
  grid-area: nav;
  background-color: #6f23ff;
  padding: 5%;
  margin-top: 5%;
}

.item a {
  color: floralwhite;
  text-decoration: none;
}

.item2 a {
  color: floralwhite;
  text-decoration: none;
  padding-top: 10px;
}

.activeLink {
  color: gold;
}

.centered_title {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
