* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gap-between {
  background-color: rgb(252, 198, 91);
  height: 10px;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
}
